<div class="footer-area">
    <div class="container">
        <div class="row">
            @Html.GetGadgetItem("footeraddress")

            @Html.GetGadgetItem("footersocial")
           
        </div>
    </div>
</div>
<div class="copyright-area">
    <div class="container">
        <div class="row">
            @Html.GetGadgetItem("copyright")
           
        </div>
    </div>
</div>

