

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Html.GetGadgetItem("copyright")
            </div>
            <div class="col-md-6">
                <div class="footer-right">
                    <p> Developed by <a href="#">RampsBD</a></p>
                </div>
            </div>
        </div>
    </div>
</div>