<li>
    @*<a href="{$MenuLink}">*@
    <a href="#">
        <i class="{$Icon}"></i>{$Content}
        {$dropsign}
        @*<span class="fa fa-chevron-down"></span>*@
    </a>
    <ul class="nav child_menu">
        {$childStr}
    </ul>
</li>