<div class="slider-area">
    <div class="row">
        <div class="col-md-12">
            <div class="main-slider owl-carousel">

                @{
                                /**/

                                string ImgPath;
                                int i = 0;
                                MangroveSpaceEntities db = new MangroveSpaceEntities();
                                List<dynamic> Information = Global.Sql(db, "select * from [dbo].[AspCMSSlider] where [SliderStatus]=1 order by [SliderOrder] ASC").ToList();
                                foreach (dynamic item in Information)
                                {
                                    <div class="singel-slider">
                                        <img src="@item.SliderImagePath" />
                                    </div>
                                }
                }
            </div>
        </div>
    </div>
</div>





