
<section class="widget-section padding">
    <div class="container">
        <div class="widget-wrap row">
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    @Html.GetGadgetItem("Footer-section-one")
                    
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                @Html.GetGadgetItem("Footer-section-two")
                
            </div>
            <div class="col-md-4 xs-padding">
                @Html.GetGadgetItem("Footer-section-three")
                
            </div>
        </div>
    </div>
</section>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-box">
                    <p>&copy; 2019 Site . All Rights researved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
