<footer class="taxes-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-left">
                    <p>Copyright © 2016 <a href="/">Taxes appeal Zone, Rajshahi</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-right">
                    <p>Developed by <a href="http://rampsbd.com/">RampsBD</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

